body {
    background-color: #fff;
}

body .bigArea {
    display: flex;
    justify-content: center;
}

body .secondArea {
    background-color: #ff9da7;
    max-width: 497px;
    height: 500px;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
}

/* 遊戲標題區 */
body .bigArea .secondArea #title {
    font-size: 1.7em;
    width: 80%;
    padding: 3px;
    margin-right: auto;
    margin-left: auto;
    background-color: #540000;
    color: #fff;
    border-radius: 7px;
}

/* 遊戲說明區 */
body .bigArea .secondArea .instructions {
    padding: 3px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border: dashed;
    border-radius: 7px;
}

body .bigArea .secondArea .challengeTimes {
    margin-top: 12px;
    font-weight: 500;
}

/* 開始遊戲按鈕 */
body .bigArea .secondArea .buttons #gameStart {
    display: block;
    color: white;
    background-color: #146496;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 13px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 1.1em;
    width: 130px;
    text-align: center;
    cursor: pointer;
}

/* 開始遊戲按鈕的不可按狀態 */
body .bigArea .secondArea .buttons #gameStart:disabled {
    background-color: lightgray;
    cursor: default;
}

/* 輸入區 */
body .bigArea .secondArea .buttons #inputArea {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    width: 300px;
    height: 35px;
}

/* 重新挑戰按鈕 */
body .bigArea .secondArea .buttons #restart {
    display: block;
    color: white;
    background-color: #146496;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 13px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 1.1em;
    width: 130px;
    text-align: center;
    cursor: pointer;
}

/* 重新挑戰按鈕的不可按狀態 */
body .bigArea .secondArea .buttons #restart:disabled {
    background-color: lightgray;
    cursor: default;
}

/* 提示 */
body .bigArea .secondArea .hint {
    padding-top: 5px;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    color: rgb(48, 48, 48);
}

/* 挑戰結果 */
body .bigArea .secondArea .result {
    font-size: 1.8em;
    font-weight: 800;
}


